/Aymeric/SurfaceAppTest/SurfaceAppTest/SurfaceAppTest/bin
/Aymeric/SurfaceAppTest/SurfaceAppTest/SurfaceAppTest/obj
/Tuto/Hello/MyAppli/MyAppli/bin
/Tuto/Hello/MyAppli/MyAppli/obj
/Tuto/Hello/MyAppli/*.suo
/Aymeric/SurfaceAppTest/SurfaceAppTest/SurfaceAppTest/*.cachefile
/Aymeric/SurfaceLib/SurfaceLib/obj
/Aymeric/SurfaceLib/SurfaceLib/bin
